body {
  background: #0f0f0f;
  font-family: sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  text-align: center;
  max-width: 400px;
  width: 90%;
  background: #1f1f1f;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 150, 0.2);
}

.login-container h1 span {
  color: #00ffa1;
}

.login-btn {
  margin: 10px 0;
  padding: 10px 15px;
  border: none;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.google {
  background-color: #4285f4;
  color: white;
}

.facebook {
  background-color: #1877f2;
  color: white;
}

.phone-login input {
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  border-radius: 8px;
  border: none;
  background: #333;
  color: white;
}

#sendOtp, #verifyOtp {
  margin-top: 10px;
  background-color: #00ffa1;
  color: #000;
}

.otp-section {
  margin-top: 30px;
  text-align: center;
}

.input-box {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  background: #222;
  border: none;
  border-radius: 5px;
  color: white;
}

.btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #00ffc8;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
